<div class="row">
  <div class="span2">
    <span class="thumbnail">
      <%= image_tag "headshot.jpg" %>
    </span>
  </div>
  <div class="span5">
    <h2>Bio</h2>
    <p>
      Thanks for visiting <%= link_to "cyrusstoller.com", root_path %>. I created this site to share some of the projects that I've been
      working on since I graduated from <%= link_to "college", "http://www.swarthmore.edu/" %>.
    </p>

    <p>
      I like long walks on the beach, whispering sweet nothings about programming and math.
      I'm embarrassed by how few digits of pie I have memorized and I have a knack for winning raffles.
    </p>

    <p>
      <%= link_to "mailto:cyrus.stoller@gmail.com?subject=[cyrusstoller.com] Hey I saw your website", :class => "btn btn-primary" do %>
        <i class="icon-envelope"></i> Email me
      <% end %>
      <!-- add resume when ready -->
      &nbsp;
      <% link_to nil, :class => "btn" do %>
        <i class="icon-download-alt"></i> Résumé
      <% end %>
      <!-- end resume -->
    </p>    
  </div>
</div>