<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to "Debate", "#debate", "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Music", "#Music", "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "Magic", "#Magic", "data-toggle" => "tab" %>
    </li>
    <li>
      <%= link_to "War News Radio", "#WNR", "data-toggle" => "tab" %>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="debate">
      <p>I'm in Section 1.</p>
    </div>
    <div class="tab-pane" id="Music">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="Magic">
      <p>Howdy, I'm in Section 3.</p>
    </div>
    <div class="tab-pane" id="WNR">
      <p>Howdy, I'm in Section 4.</p>
    </div>
  </div>
</div>
  </div>