<p>
  In college, I double majored in Computer Science and Math, and dabbled in Electrical Engineering. 
  I really enjoy solving puzzles, playing with numbers, and building things. 
  If you give me a puzzle, I'll have a hard time resisting trying to figure out the solution.
</p>

<p>
  I've worn glasses since the first grade, back when it was "stylish" for your lenses to cover your entire face. 
  I self-describe as an audio-learner, even though I've been told that's not a real thing. 
  Maybe that's why I have an affinity for listening to stories on the radio?
</p>

<p>
  When I'm not behind the computer, I enjoy debating. In college, I was the president of the debate team, 
  and now that I'm out in the real world, I've been helping to coach the Stanford debate team in 
  British and American parliamentary debate.
</p>