<h3>Favorite One Liners</h3>
<ul>
  <li><p><code>$ cat /dev/urandom | hexdump -C | grep "ca fe"</code></p></li>
  <li><p><code>$ python -m SimpleHTTPServer</code></p></li>
  <li><p><code>$ echo {a,b,c}{a,b,c}{a,b,c}</code></p></li>
  <li><p><code>$ man ascii</code></p></li>
  <li><p><code>ABCDE * 4 = EDCBA</code> &rarr; <code>21978 * 4 = 87912</code></p></li>
</ul>