<div class="row">
  <div class="span7">
    <%= render :partial => 'bio' %>
    <br>
    <%= render :partial => 'extra_curricular_tabs' %>
  <div class="span5">
    <%= render :partial => 'home_samples' %>
  </div>
</div>